body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Bai Jamjuree', sans-serif;
}

code {
    font-family: 'Bai Jamjuree', sans-serif;
}